---
---
// more approriate container width
@media only screen and (max-width: 991px) {
	.ui.container {
	  width: auto !important;
	  margin-left: -1px !important;
	  margin-right: -1px !important;
	}
	.ui.container > .ui.stackable.grid:not(footer) > .column, .ui.container > .ui.stackable.grid:not(footer) > .row > .column {
		padding: 1em !important;
	}
	.single-election {
		margin-bottom: 0 !important;
		.date {
			display: none;
		}
	}
	body {
		margin-top: -2px;
		padding-top: 1em;
	}
	.ui.top.attached.menu {
		border-radius: 0;
		position: fixed;
		top: 0;
		height: 0;
		z-index: 100;
		border-width: 0;
		border-bottom-width: 1px;
		margin-bottom: 1em;
		.item:not(.show-mobile) {
			display: none;
		}
	}
	.horizontal-menu-overlay {
	  position: fixed;
	  top: 0;
	  height: 100%;
	  min-height: 100vh;
	  width: 100vw;
	  background-color: #000;
	  opacity: 0.5;
	  display: none;
	  z-index: 100;
	}
	.ui.visible.vertical.menu {
		box-shadow: none;
		transition: margin-left .5s;
		background-color: #efefef;
		border: none;
		.item {
			font-weight: bold;
		}
		&.negative-margin {
			margin-left: -260px !important;
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1749px) {
	.ui.container {
	  width: auto !important;
	  margin-left: 1em !important;
	  margin-right: 1em !important;
	}
	.ui.grid.container {
	  width: auto !important;
	}
	.ui.relaxed.grid.container {
	  width: auto !important;
	}
	.ui.very.relaxed.grid.container {
	  width: auto !important;
	}
	.ui.vertical.menu {
		display: none;
	}
	.ui.top.attached.menu {
		.item.toggle-sidebar {
			display: none;
		}
	}
	body {
		padding-top: 1em;
	}
}

@media only screen and (min-width: 1750px) {
	.ui.container {
	  width: 1600px;
	  margin-left: auto !important;
	  margin-right: auto !important;
	}
	.ui.grid.container {
	  width: calc(1600px + 2rem) !important;
	}
	.ui.relaxed.grid.container {
	  width: calc(1600px + 3rem) !important;
	}
	.ui.very.relaxed.grid.container {
	  width: calc(1600px + 5rem) !important;
	}
	.ui.vertical.menu {
		display: none;
	}
	.ui.top.attached.menu {
		.item.toggle-sidebar {
			display: none;
		}
	}
	body {
		padding-top: 1em;
	}
}

.top.attached.menu {
	background-color: #efefef;
	margin-bottom: -1em;
	margin-top: 0;
}

table td.selectable a {
  color: #4183C4 !important;
  &:hover {
    color: #1e70bf !important;
  }
}

body {
	// homepage
	&.home {
		@media(max-width: 991px) {
			padding-top: 0;
		}
		.ui.segment {
			margin: 0;
			padding: 3em 0;
			&.masthead {
				text-align: center;
				background-color: #e6eaed;
				i.vote.icon {
					margin-top: 30px;
					font-size: 4em;
					line-height: 1em;
				}
				.ui.header {
					font-size: 3em;
					margin-top: 20px;
					padding: 0 12px;
				}
				.explainer {
					font-size: 16px;
					margin-bottom: 20px;
					padding: 0 12px;
				}
				.button {
					margin-bottom: 30px;
				}
			}
			&.features {
				background-color: #f3f3f3;
				.column {
					text-align: center !important;
				}
				img {
					box-shadow: 0 2px 4px 0 #22242626;
					width: 100%;
					max-width: 350px;
					background-color: #fff;
					padding: 1em;
					border-radius: 4px;
				}
			}
			&.statistics {
				text-align: center;
				background-color: #fdfdfd;
				.stat-button {
					padding: 2.5em;
					border: 1px solid #22242626;
					box-shadow: 0 1px 2px 0 #22242626;
					border-radius: 4px;
					background-color: #efefef;
					display: inline-block;
					vertical-align: middle;
					&:hover {
						background-color: #e8e8e8
					}
					i {
						font-size: .8em;
					}
					.label {
						margin-top: .75em;
						margin-bottom: -.25em;
					}
				}
			}
		}
	}
	&.about {
		.ui.segment.about-te {
			margin-top: 1em;
			background-color: #f9f9f9;
			.content {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
			}
			@media (max-width: 991px) {
				margin-top: 2em;
			}
		}
	}
	&.elections {
		.ui.segment.available {
			margin-top: 1em;
			padding-bottom: 3em;
			@media (max-width: 991px) {
				margin-top: 2em;
			}
		}
		.ui.segment.wishlist {
			padding-top: 3em;
			padding-bottom: 3em;
		}
	}
}

.single-election {
	margin-bottom: 0 !important;
	@media (max-width: 991px) {
		margin-top: 2em !important;
	}
	.title {
		text-align: center;
	}
	.map-legend.column {
		svg {
			width: 100%;
			max-height: 70vh;
			path {
				stroke: white;
				stroke-width: .5px;
				&:hover {
					cursor: pointer;
				}
				&.active {
					stroke-width: 1px;
					stroke: black;
				}
			}
		}
		.legend-wrapper {
			margin-top: 1rem;
			text-align: right;
			position: relative;
			table.legend {
				display: inline-table;
				font-size: 12px;
				line-height: 12px;
				thead {
					font: 10px monospace;
				}
				tbody {
					th {
						padding-right: 5px;
					}
				}
				.right.aligned {
					text-align: right;
				}
				.center.aligned {
					text-align: center;
				}
				.legend-cell {
					width: 24px;
					height: 12px;
					vertical-align: middle;
				}
			}
			.date {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}
	.metadata.column {
		.dropdown {
			margin-bottom: .5rem;
		}
		.statistics {
			margin-top: 2rem;
			.area-statistics:not(.active) {
				display: none;
			}
			td.candidate-name {
				max-width: 37.5vw;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			@media only screen and (max-width: 991px) {
				th.candidate-name,
				td.candidate-name {
					padding-right: 0;
				}
			}
			td.votes {
				font-family: monospace;
			}
			th.percentage-bar {
				padding-left: 0;
				padding-right: 0;
			}
			td.percentage-bar {
				padding-right: 0;
				padding-left: 0;
				border-left: 1px solid #666;
				.bar {
			    display: inline-block;
			    height: 19px;
			    vertical-align: middle;
				}
			}
			td.percentage-number {
				padding-left: 0;
				font: monospace;
				line-height: 19px;
				margin-left: 5px;
				text-align: right;
			}
		}
		.buttons {
			margin-top: 2em;
			text-align: center;
			.button {
				margin: 0 .25em .25em 0;
				padding-left: 3.5em !important;
				padding-right: 1em !important;
			}
		}
	}
}

footer.ui.inverted.segment {
	padding: 3em 0;
	background-color: #353535;
	.list .content {
		color: #939393;
	}
	a {
		color: #e5e5e5;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	@media (max-width: 991px) {
		padding: 1em;
		.column {
			padding: 1em !important;
		}
		margin-bottom: 0;
	}
	@media (min-width: 992px) {
		margin-bottom: 1em;
		.column {
			padding-left: 4em !important;
			padding-right: 4em !important;
		}
	}
}